.english {
    .list-banner-cta {
        .list-banner {
           @include max_width(1023px) {
            .left {
                margin-top: auto;
                margin-bottom: auto;
            }
           }
        }
    }
    .log-in {
        @include max_width(1300px) {
            top: 33px !important;
        }
        @include max_width(1024px) {
            top: 24px !important;
        }
        @include max_width(1023px) {
            top: 20px !important;
        }
        @include max_width(767px) {
            top: 25px !important;
        }
    }
    .log-mob {
        display: flex;
        justify-content: space-between;
        width: 50%;
        margin: 0 auto;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 30px;
        font-family: $brand_2;
    }
}