@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

.shadow-main-container {
    border-radius: 25px;
    box-shadow: 0px -1px 23px 4px rgba(0,0,0, 0.055266);
    opacity: 1;
    background-color: rgba(255,255,255, 1);
}
